a {
  text-decoration: none;
  cursor: pointer;
}

img {
  width: 100%;
}

.header-top {
  display: flex;
}

.header-left {
  margin: 25px 0px 0px 20px;
}

.header-main-text a {
  color: inherit;
}

.header-sub-text {
  text-align: right;
  font-size: 10px;
  margin: 5px 0px 27px 36px;
}

.header-sub-text a {
  color: inherit;
}

.header-entry {
  width: 280px;
  height: 30px;
  border: solid 1px black;
  margin: 0px auto 23px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-entry a {
  color: inherit;
}

.bg-img1 {
  width: 100%;
  height: 306px;
  background-image: url(../img/background-img1.jpeg);
}

.bg-img1 h2 {
  color:rgb(69, 29, 160);
  font-size: 40px;
  line-height: 1.2em;
  padding: 30px 0px 10px 20px;
}

.bg-img1 p {
  font-size: 13px;
  color: inherit;
  padding-left: 20px;
  line-height: 25px;
}

.border-block {
  width: 80px;
  margin: 0 auto;
}

.border-line {
  content: "";
  border: solid 1px black;
  transform: rotate(90deg);
  width: 80px;
}

.content-main-title {
  text-align: center;
  font-size: 30px;
  color: rgb(69, 29, 160);
}

.content-main-title {
  margin-top: 50px;
}

.content-main-title::after{
  display: block;
  font-size: 13px;
  color: rgb(0, 0, 0);
  padding: 4px 0px 31px 0px;
}

/* 縦線（擬似要素）のcssはここに記述しています。*/
#title,
#aboutus,
.c-content-container,
.gallery-box {
  position: relative;
}

#title::after,
#aboutus::after,
.c-content-container::before,
.gallery-box::after {
  content: "";
  display: block;
  width: 1px;
  height: 80px;
  background-color: black;
  position: absolute;
  left: 50%;
}

#title::after {
  top: 93%;
}

#aboutus::after {
  top: 102%;
}

.gallery-box::after {
  top: 85%;
}

/* ”〆”縦線（擬似要素）のcssはここに記述しています。*/

#aboutus .content-main-title::after {
  content: "私たちについて";
}

.aboutus-board {
  text-align: center;
}

.white-board {
  width: 280px;
  margin: 0 auto;
  background-color: white;
  position: relative;
  top: -15px;
  text-align: center;
}

.white-board-title {
  line-height: 1.5em;
  font-size: 19px;
  width: 240px;
  margin: 0 auto;
  padding: 20px 0 17px 0;
  text-align: center;
}

.white-board-text {
  width: 250px;
  font-size: 12px;
  line-height: 25px;
  margin: 0 auto;
}

/* id:aboutusの最後のLEARN MOREボタンのcss */
.lmbutton {
  width: 160px;
  height: 42px;
  margin: 15px auto 0;
  text-align: center;
  border: solid 1px black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lmbutton a {
  color: inherit;
  font-size: 10px;
  font-weight: bolder;
}
/* ”〆”id:aboutusの最後のLEARN MOREボタンのcss */

#interviews {
  margin-top: 120px;
}

#interviews .content-main-title::after {
  content: "新卒、中途で活躍する先輩達の体験談。";
  font-size: 13px;
  text-align: center;
  line-height: 10px;
}

.interview-card {
  /* id:itnrerviesのテキストが書かれいるボックスのcss */
  position: relative;
  margin-bottom: 30px;
}

/* class interview-cardの子要素のcss */
.interview-content {
  background-color: white;
  width: 300px;
  height: 150px;
  position: absolute;
  top: 64.5%;
  left: 0;
  z-index: 1;
  text-align: center;
}

.interview-content span:nth-of-type(3) {
  margin-top: 18px;
}

.interview-content span{
 display: block;
 text-align: start;
 margin: 0 auto;
 width: 260px;
 line-height: 25px;
}
/* ”〆”class interview-cardの子要素のcss */
/* interview-content内の各spanのcss */
.position {
  margin:20px auto 10px !important;
  font-size: 12px;
}

.aword {
  font-size: 18px;
  margin-bottom: 21px;
}

.hzline {
  color: inherit;
  font-size: 15px;
  /* font-family: ; */
  padding-left: 50px ;
  position: relative;
}
/* ”〆”interview-content内の各spanのcss */
/* interview-contentの最後のMoreボタンの横につく横線のcss */
.hzline::before{
  content: "";
  display: inline-block;
  width: 40px;
  height: 1px;
  background-color: black;
  position: absolute;
  top: 10px;
  left: 0;
}
/* ”〆”interview-contentの最後のMoreボタンの左横につく横線のcss */

/* section id cuture　の各要素ごとのcssを書きに記述*/

.culture-bg {
  background-image: url(../img/background-img2.jpeg);
  width: 320px;
  height: 472px;
}

/* #culture内のmain,subタイトルのcss */
.culture-bg h2 {
  padding: 31px 0 4px 0;
  width: 280px;
  margin: 0 auto;
}

.culture-bg h2::after {
  content: "働く環境や制度について";
  padding-bottom: 21px;
  width: 280px;
  margin: 0 auto;
}
/* ”〆”#culture内のmain,subタイトルのcss */

.culture-bg .c-text,
.c-text p{
  /* section culture内の定例文（pタグ）のcss */
  width: 270px;
  font-size: 12px;
  text-align: center;
  margin: 10px auto 31px;
  line-height: 25px;
}

/* section cultur の二つの写真のcss */
.culture-2img{
  position: relative;
  margin: 0 auto;
  width: 280px;
}

.cultureimg1 {
  /* ソファに座ってパソコンを触る男性 */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.cultureimg2 {
  /* オフィスで微笑む女性の写真 */
  position: absolute;
  top: 105px;
  left: 22px;
}
/* ”〆”section cultur の二つの写真のcss */

.c-content-container .c-content-box:nth-of-type(1) {
  padding-top: 120px;
}

.c-content-box {
  text-align: center;
}

.c-content{
  margin-bottom: 10px;
  width: 280px;
  margin: 0 auto;
}

.c-content-box .c-content {
  font-size: 19px;
  text-align: center;
  margin-bottom: 10px;
}

.c-text p {
  margin-bottom: 33px;
}

/* ”〆”section id cuture */
/* section id galley */

#gallery .content-main-title {
  margin-bottom: 100px;
}

#gallery .content-main-title::after {
  content: "ギャラリー";
  padding: 6px 0 10px;
}

/* slickを使用したスライダーcss */

.gallery-slide-box {
  position: absolute;
  top: -25%;
  left: 0;
}

.gallery-slide {
  width: 280px;
  height: 268px;
}

.slide {
  width: auto;
  height: 268px;
  background-repeat: no-repeat;
}
.one{
  background-image: url(../img/wecre-slide-img1.jpg);
}
.two{
  background-image: url(../img/wecre-slide-img2.jpg);
}
.three{
  background-image: url(../img/wecre-slide-img3.jpg);
}
.four{
  background-image: url(../img/wecre-slide-img4.jpg);
}
/* ”〆”slickを使用したスライダーcss */

/* ”〆” section id galley*/
/* section id entry */

#entry {
  margin-top: 73px;
}

.entry-block {
  background-color: rgb(69, 29, 160);
  color:rgb(255, 255, 255);
}

.entry-title {
  display: block;
  font-size: 40px;
  text-align: center;
  padding: 30px 0 20px 0;
}

.entry-title::after {
  content: "自分を信じて突き進め";
  display: block;
  font-size: 13px;
  margin-top: 10px;
}

.entry-text {
  font-size: 12px;
  line-height: 25px;
  text-align: center;
  margin-bottom: 30px;
}

.entrylink1 {
  width: 159px;
  height: 45px;
  border: solid 1px rgb(255, 255, 255);
  margin: 0 auto 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: rgb(255, 255, 255);
}

.entrylink2 {
  color: rgb(255, 255, 255);
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 32px;
}
/* ”〆”section id entry */
/* section id compdetail */

#compdetail{
  background-color: rgb(44, 44, 44);
}

.compdetail-box h2{
  text-align: center;
  padding: 29px 0 26px 0;
}

.compdetail-box h2::after{
  content: "RECRUIT SITE";
  display: block;
  margin-top: 3px;
  margin-left: 35px;
  color: rgb(255, 255, 255);
  font-size: 10px;
  font-family: poppins-extralight,poppins,sans-serif;
}

.compdetail-box h2 a {
  color: rgb(255, 255, 255);
  font-size: 20px;
}

.compdetail-box ul li {
  text-align: center;
  font-size: 16px;
}

.compdetail-box ul li a {
  color: rgb(255, 255, 255);
  
}

/* ”〆”section compdetail */