a {
  text-decoration: none;
  cursor: pointer;
}

img {
  width: 100%;
  height: auto;
}

.pc{
  display: none;
}

.header-top {
  display: flex;
}

.header-left {
  margin: 25px 0px 0px 20px;
}

.header-main-text a {
  color: inherit;
}

.header-sub-text {
  text-align: right;
  font-size: 10px;
  margin: 5px 0px 27px 36px;
}

.header-sub-text a {
  color: inherit;
}

.header-entry {
  width: 280px;
  height: 30px;
  border: solid 1px black;
  margin: 0px auto 23px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-entry a {
  color: inherit;
}

/* hamberger menu用css */

/* .header-right {

}

#menu-content {
  position: absolute;
  height: 100vh;
  width: 100%;
  left: 0%;
  top: -100%;
  background: #ffffff;
  transition: .5s;
}

#menu-content ul {
  padding-top: 80px;
}

#menu-content ul li {
  list-style-type: none;
  font-size: 20px;
}

#menu-content a {
  display: block;
  text-decoration: none;
  color: #000000;
  margin: 0 15px;
  padding: 10px;
  transition: .5s;
}

#menu-content li a:hover {
  color: #ffffff;
  background: #cd5c5c;
  border-bottom: none;
}


#thrline {
  position: absolute;
  top: 26px;
  left: 275px;
  width: 22px;
  height: 20px;
  cursor: pointer;
  transition: 1s;
}

.line {
  display: block;
  position: absolute;
  left: 0;
  width: 22px;
  height: 2px;
  background-color: rgb(0, 0, 0);
  transition: 1s;
  border-radius: 4px;
}

#line1 {
  top: 0;
}

#line2 {
  top: 9px;
}

#line3 {
  bottom: 0;
}

.in {
  transform: translateY(100%);
}

/* jsでclickアクション後に、hamburgermenuの3本線に付与されるクラスのcss */

/* .line_1,.line_2,.line_3{
  background: #000000;
}

.line_1 {
  transform: translateY(8px) rotate(-45deg);
  top: 0;
}

.line_2 {
  opacity: 0;
}

.line_3 {
  transform: translateY(-10px) rotate(45deg);
  bottom: 0;
}  */
/* ”〆”jsでclickアクション後に、hamburgermenuの3本線に付与されるクラス */

/* ”〆”hamberger menu用css */

.title-img img {
  width: 100%;
  height: auto;
}

.bg-img1 {
  width: 100%;
  height: 306px;
  background-image: url(../img/background-img1.jpeg);
}

.bg-img1 h2 {
  color:rgb(69, 29, 160);
  font-size: 40px;
  line-height: 1.2em;
  padding: 30px 0px 10px 20px;
}

.bg-img1 p {
  font-size: 13px;
  color: inherit;
  padding-left: 20px;
  line-height: 25px;
}

.border-block {
  width: 80px;
  margin: 0 auto;
}

.border-line {
  content: "";
  border: solid 1px black;
  transform: rotate(90deg);
  width: 80px;
}

.content-main-title {
  text-align: center;
  font-size: 30px;
  color: rgb(69, 29, 160);
}

.content-main-title {
  margin-top: 50px;
}

.content-main-title::after{
  display: block;
  font-size: 13px;
  color: rgb(0, 0, 0);
  padding: 4px 0px 31px 0px;
}

/* 縦線（擬似要素）のcssはここに記述しています。*/
#title,
#aboutus,
.c-content-container,
.gallery-bgimg {
  position: relative;
}

#title::after,
#aboutus::after,
.c-content-container::before,
.gallery-bgimg::after {
  content: "";
  display: block;
  width: 1px;
  height: 80px;
  background-color: black;
  position: absolute;
  left: 50%;
}

#title::after {
  top: 93%;
}

#aboutus::after {
  top: 102%;
}

.gallery-bgimg::after {
  top: 89%;
}

.c-content-container::before {
  top: 3%;
}

/* ”〆”縦線（擬似要素）のcssはここに記述しています。*/

#aboutus .content-main-title::after {
  content: "私たちについて";
}

.aboutus-board {
  text-align: center;
}

.white-board {
  width: 280px;
  margin: 0 auto;
  background-color: white;
  position: relative;
  top: -15px;
  text-align: center;
}

.white-board-title {
  line-height: 1.5em;
  font-size: 19px;
  width: 240px;
  margin: 0 auto;
  padding: 20px 0 17px 0;
  text-align: center;
}

.white-board-text {
  width: 250px;
  font-size: 12px;
  line-height: 25px;
  margin: 0 auto;
}

/* id:aboutusの最後のLEARN MOREボタンのcss */
.lmbutton {
  width: 160px;
  height: 42px;
  margin: 15px auto 0;
  text-align: center;
  border: solid 1px black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lmbutton a {
  color: inherit;
  font-size: 10px;
  font-weight: bolder;
}
/* ”〆”id:aboutusの最後のLEARN MOREボタンのcss */

#interviews {
  margin-top: 120px;
}

#interviews .content-main-title::after {
  content: "新卒、中途で活躍する先輩達の体験談。";
  font-size: 13px;
  text-align: center;
  line-height: 10px;
}

.interview-card {
  /* id:itnrerviesのテキストが書かれいるボックスのcss */
  position: relative;
  margin-bottom: 30px;
}

/* class interview-cardの子要素のcss */
.interview-content {
  background-color: white;
  width: 300px;
  height: 150px;
  position: absolute;
  top: 64.5%;
  left: 0;
  z-index: 1;
  text-align: center;
}

.interview-content span:nth-of-type(3) {
  margin-top: 18px;
}

.interview-content span{
 display: block;
 text-align: start;
 margin: 0 auto;
 width: 260px;
 line-height: 25px;
}
/* ”〆”class interview-cardの子要素のcss */
/* interview-content内の各spanのcss */
.position {
  margin:20px auto 10px !important;
  font-size: 12px;
}

.aword {
  font-size: 18px;
  margin-bottom: 21px;
}

.hzline {
  color: inherit;
  font-size: 15px;
  /* font-family: ; */
  padding-left: 50px ;
  position: relative;
}
/* ”〆”interview-content内の各spanのcss */
/* interview-contentの最後のMoreボタンの横につく横線のcss */
.hzline::before{
  content: "";
  display: inline-block;
  width: 40px;
  height: 1px;
  background-color: black;
  position: absolute;
  top: 10px;
  left: 0;
}
/* ”〆”interview-contentの最後のMoreボタンの左横につく横線のcss */

/* section id cuture　の各要素ごとのcssを書きに記述*/

.culture-bg {
  background-image: url(../img/background-img2.jpeg);
  width: 100%;
  height: 472px;
}

/* #culture内のmain,subタイトルのcss */
.culture-bg h2 {
  padding: 31px 0 4px 0;
  width: 280px;
  margin: 0 auto;
}

.culture-bg h2::after {
  content: "働く環境や制度について";
  padding-bottom: 21px;
  width: 280px;
  margin: 0 auto;
}
/* ”〆”#culture内のmain,subタイトルのcss */

.culture-bg .c-text,
.c-text p{
  /* section culture内の定例文（pタグ）のcss */
  width: 270px;
  font-size: 12px;
  text-align: center;
  margin: 10px auto 31px;
  line-height: 25px;
}

/* section cultur の二つの写真のcss */
.culture-2img{
  position: relative;
  margin: 0 auto;
  width: 280px;
}

.cultureimg1 {
  /* ソファに座ってパソコンを触る男性 */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.cultureimg2 {
  /* オフィスで微笑む女性の写真 */
  position: absolute;
  top: 105px;
  left: 22px;
}
/* ”〆”section cultur の二つの写真のcss */

.c-content-container .c-content-box:nth-of-type(1) {
  padding-top: 120px;
}

.c-content-box {
  text-align: center;
}

.c-content{
  margin-bottom: 10px;
  width: 280px;
  margin: 0 auto;
}

.c-content-box .c-content {
  font-size: 19px;
  text-align: center;
  margin-bottom: 10px;
}

.c-text p {
  margin-bottom: 33px;
}

/* ”〆”section id cuture */
/* section id galley */

#gallery .content-main-title {
  margin-bottom: 100px;
}

#gallery .content-main-title::after {
  content: "ギャラリー";
  padding: 6px 0 10px;
}

.gallery-bgimg {
  background: rgb(236,244,252);
  background: linear-gradient(90deg, rgba(236,244,252,1) 0%, rgba(228,243,252,1) 25%, rgba(231,246,252,1) 50%, rgba(233,247,252,1) 75%, rgba(236,248,252,1) 100%);
  width: 100%;
  height: 87.18vw;
  margin-bottom: 10px;
}

/* slickを使用したスライダーcss */

.gallery-slide-box {
  margin-top: -106%;
}

.gallery-slide {
  width: 87.5vw;
  height: 83.75vw;
}

.slide {
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
}
/* ”〆”slickを使用したスライダーcss */

/* ”〆” section id galley*/
/* section id entry */

#entry {
  margin-top: 160px;
}

.entry-block {
  background-color: rgb(69, 29, 160);
  color:rgb(255, 255, 255);
}

.entry-title {
  display: block;
  font-size: 40px;
  text-align: center;
  padding: 30px 0 20px 0;
}

.entry-title::after {
  content: "自分を信じて突き進め";
  display: block;
  font-size: 13px;
  margin-top: 10px;
}

.entry-text {
  font-size: 12px;
  line-height: 25px;
  text-align: center;
  margin-bottom: 30px;
}

.entrylink1 {
  width: 159px;
  height: 45px;
  border: solid 1px rgb(255, 255, 255);
  margin: 0 auto 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: rgb(255, 255, 255);
}

.entrylink2 {
  color: rgb(255, 255, 255);
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 32px;
}
/* ”〆”section id entry */
/* section id compdetail */

#compdetail{
  background-color: rgb(44, 44, 44);
}

.compdetail-box h2{
  text-align: center;
  padding: 29px 0 26px 0;
}

.compdetail-box h2::after{
  content: "RECRUIT SITE";
  display: block;
  margin-top: 3px;
  margin-left: 35px;
  color: rgb(255, 255, 255);
  font-size: 10px;
  font-family: poppins-extralight,poppins,sans-serif;
}

.compdetail-box h2 a {
  color: rgb(255, 255, 255);
  font-size: 20px;
}

.compdetail-box ul li {
  text-align: center;
  font-size: 16px;
  margin-bottom: 10px;
  height: 25px;
}

.compdetail-box ul li:nth-of-type(4) {
  margin-bottom: 32px;
}

.compdetail-box ul li a {
  color: rgb(255, 255, 255);
}

.addres {
  height: 72px;
  font-size: 12px;
  color: rgb(255, 255, 255);
  line-height: 25px;
  text-align: center;
  margin-bottom: 31px;
}

.addres .compteln{
  font-size: 12px;
  color: rgb(255, 255, 255);
  line-height: normal;
}

.corpsite ,
.privpolicy{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-size: 12px;
  color: rgb(255, 255, 255);
}

.corpsite {
  width: 159px;
  height: 45px;
  border: solid 1px rgb(255, 255, 255);
  margin-bottom: 10px;
}

.privpolicy {
  width: 280px;
  height: 24px;
  padding-bottom: 10px;
}
/* ”〆”section compdetail */
/* footer */

footer {
  height: 105px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #000000;
  color: rgb(255, 255, 255);
  font-size: 12px;
  line-height: 25px;
}

footer p a {
  color: rgb(255, 255, 255);
  text-decoration: underline;
}

/* ”〆”footer */

/* レスポンシブ */
@media screen and (min-width: 1280px){

  .sp{
    display: none !important;
  }

  .pc{
    display: block;
  }
  
  a{
    text-decoration: none;
    color: inherit;
  }

  img{
    width: 100%;
    height: auto;
  }
/* headerのレスポンシブ */
  .header-top{
    max-width: 1240px;
    margin: 0 auto;
    height: 137px;
    display: flex;
    justify-content: space-between;
  }

  .header-left{
    margin: 25px 0 0 30px;
  }

  .header-main-text{
    font-size: 30px;
    margin: 27px 0 3px;
  }

  .header-sub-text{
    font-size: 13px;
    margin-bottom: 64px;
  }

  .header-right{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #menu-content ul{
    width: 545px;
    height: 137px;
    display: flex;
    justify-content: space-around;
    align-items: center;

  }

  #menu-content ul li{
    padding: 30px 10px 50px;
    margin-top: 40px;
  }

  #menu-content ul li a{
    font-size: 16px;
  }

  .header-entry{
    width: 122px;
    height: 41px;
    margin: 52px 30px 64px 0;
    display: flex;
  }

  .header-entry a{
    font-size: 16px;
  }
/* ”〆”headerのレスポンシブ */
/* section id titleのレスポンシブ */
  
  .title-img{
    width: 51.66vw;
    height: 45.62vw;
    margin-left: 44%;
  }

  .bg-img1{
    width: 93.88vw;
    height: 51.59vw;
    margin: -31% 0 0 6%;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .bg-img1 h2{
    font-size: 70px;
    margin-left: 30px;
    padding-top: 40px;
  }

  .bg-img1 p{
    font-size: 18px;
    margin-left: 30px;
  }

  #title::after{
    height: 165px;
    top: 90%;
  }
/* section id titleのレスポンシブ */
/* .content-main-titleの基本となるレスポンシブ */
  .content-main-title{
    margin: 150px 0 66px;
    font-size: 45px;
  }
  .content-main-title::after{
    font-size: 18px;
  }
/* ”〆”.content-main-titleの基本となるレスポンシブ */
/* section id aboutusのレスポンシブ */

 .white-board{
   width: 63.18vw;
   height: auto;
   margin-top: -30%;
   padding-bottom: 67px;
 }

 .white-board-title{
   width: 56.90vw;
   height: auto;
   font-size: 27px;
   padding: 76px 0 27px 0;
   text-align: center;
 }
 .white-board-text{
   width: 31.25vw;
   height: auto;
  font-size: 13px;
  padding-bottom: 28px;
 }
.lmbutton{
  width: 12.08vw;
  height: 50px;
  font-size: 16px;
  margin: 0 auto;
}

#aboutus::after{
  height: 165px;
  top: 100%;
}
/* ”〆”section id aboutusのレスポンシブ */
/* section id interviewsのレスポンシブ */

#interviews .content-main-title{
  margin: 15% 0 3%;
}
.interviews-container{
  margin-bottom: 75px;
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
}
.interview-card{
  width: 40.90vw;
  height: auto;
}
.interview-content{
  width: 29.93vw;
  height: auto;
  top: 81%;
}
.interview-content .position{
  width: 21.52vw;
  font-size: 13px;
  margin: 45px 0 10px;
}
.interview-content .aword{
  width: 21.52vw;
  margin: 0 auto 19px;
  font-size: 18px;
}
.interview-content .hzline{
  padding-left: 55px;
  font-size: 16px;
}
.interview-content .hzline::before{
  width: 58px;
  left: -25px;
}
/* ”〆”section id interviewsのレスポンシブ */
/* section id cultureのレスポンシブ */

.culture-bg{
  background-size: cover;
  background-repeat: no-repeat;
  width: 95vw;
  height: 82.90vh;
}
.culture-bg .content-main-title{
  padding: 98px 0 26px;
}
.culture-bg .content-main-title::after{
  margin-top: 3px;
}
.culture-bg .c-text{
  font-size: 13px;
}
.culture-2img{
  width: 100%;
  height: 100%;
}
.cultureimg1{
  width: 31.18vw;
  height: auto;
  margin: -10% 0 0 10%;
}
.cultureimg2{
  width: 67.56vw;
  height: auto;
  margin: -6% 0 0 24%;
}
.c-content-container::before{
  height: 165px;
  top: -180%;
}
.c-content-container{
  margin-top: 450px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-around;
}
.c-content-container .c-content-box:nth-of-type(1){
  padding-top: initial;
}
/* ”〆”section id cultureのレスポンシブ */
/* section id galleryのレスポンシブ */
#gallery .content-main-title{
  margin: 170px 0px;
}
.gallery-bgimg{
  width: 84.93vw;
  height: 56.04vw;
  margin-left: 217px;
}
.gallery-slide-box{
  width: 88.88vw;
  height: 52.5vw;
  margin: initial;
  display: none;
}
.gallery-box .gallery-slide-box .gallery-slide{
  width: 100%;
  height: 100%;
}
.gallery-bgimg::after{
  height: 165px;
  top: 90%;
  left: 40%;
}
/* ”〆”section id galleryのレスポンシブ */
/* section id entryのレスポンシブ */

#entry{
  margin-top: 200px;
}
.entry-block{
  height: 27.36vw;
  display: flex;
  justify-content: space-around;
  text-align: start;
}
.testblock{
  width: 50%;
  text-align: start;
  padding-left: 200px;
}
.entry-title{
  display: block;
  font-size: 80px;
  text-align: start;
  padding: 0;
  margin-top: 80px;
  margin-bottom: 21px;
}
.entry-title::after{
  margin-top: 12px;
  font-size: 18px;
}
.entry-text{
  text-align: start;
  padding-right: 210px;
  margin-bottom: 0;
  font-size: 13px;
}
.testblock2{
  width: 50%;
}
.entrylink1{
  width: 202px;
  height: 66px;
  margin: 140px auto 26px;
  font-size: 27px;
}
.entrylink2{
font-size: 13px;
}

/* ”〆”section id entryのレスポンシブ */
/* section id compdetailのレスポンシブ */

#compdetail{
  display: flex;
  justify-content: space-around;
}
.compdetail-box{
  margin-right: 20px;
  height: 25.34vw;
}
.compdetail-box h2{
  padding: 90px 0;
  text-align: start;
}
.compdetail-box h2 a{
  font-size: 30px;
}
.compdetail-box h2::after{
  font-size: 13px;
  margin: 0;
  padding:10px 0 0 70px;
}
.compdetail-box ul{
  display: flex;
  margin: 20px 0 0 0;
  text-align: start;
}
.compdetail-box ul li{
  font-size: 16px;
  padding: 10px 45px 10px 0;
}

.compdetail-box2{
  padding-top: 90px;
}
.compdetail-box2 p,
.compdetail-box2 a{
  font-size: 13px;
  margin-left: 20px;
}
.compdetail-box2 .addres{
  margin: 0 auto;
  margin-left: 20px;
  text-align: start;
}
.compdetail-box2 .addres a{
  margin-left: 0;
}
.corpsite{
  margin: 30px 0 30px 0;
  text-align: start;
}
.privpolicy{
  justify-content: initial;
}


/* ”〆”section id compdetailのレスポンシブ */
/* footerのレスポンシブ */

footer{
  height: 70px;
  flex-direction: initial;
}
footer p{
  display: flex;
}
footer a{
  margin-left: 5px;
}
/* ”〆”footerのレスポンシブ */
}